//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: 0px 0px;
	background: #045D9D;
	border-radius: 7px;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: white;
	padding: 15px 40px;

	@media (any-hover: hover) {
		&:hover {}
	}

	&._fw {
		width: 100%;
	}
}