//====================================================================================================
.main {
	position: relative;
	z-index: 1;

	&__body {
		padding-top: 125px;
		z-index: 2;

		h1 {
			max-width: 783px;
			position: relative;
			font-weight: 700;
			@include adaptiveValue("font-size", 46, 30);
			line-height: 122.19%;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: $blueColor;
			z-index: 2;

			span {
				font-weight: 500;
				@include adaptiveValue("font-size", 30, 24);
				letter-spacing: 0.02em;
				display: block;
				@include adaptiveValue("margin-bottom", 25, 15);
			}
		}
	}

	&__box {
		z-index: 2;
		display: flex;
		flex-wrap: wrap;
	}

	&__box-item {
		position: relative;
		z-index: 2;
		font-weight: 500;
		@include adaptiveValue("font-size", 23, 16);
		line-height: math.div(23, 20);
		letter-spacing: 0.02em;
		color: $brightblueColor;
		@include adaptiveValue("margin-right", 80, 50);

		@media (max-width:$mobile) {
			margin-right: 0;
		}

		span {
			display: block;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__button {
		@media (max-width:$mobile) {
			width: 100%;
			justify-content: center;
		}
	}

	&__box-form {
		background: rgba(70, 152, 211, 0.85);
		border-radius: 3px;
		position: relative;
		z-index: 2;
		padding: 40px 60px;
		clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

		@media (max-width:$mobile) {
			margin-top: 40px;
			width: 100%;
		}
	}

	&__form {

		&-btn {
			display: block;
			width: 100%;
			font-weight: 500;
			text-align: center;
			letter-spacing: 0.02em;
			text-transform: none;
		}
	}

	&__form-title {
		padding-top: 40px;
		padding-bottom: 5px;
		margin: auto;
		max-width: 168px;
		text-align: center;
		font-weight: 700;
		@include adaptiveValue("font-size", 20, 18);
		line-height: math.div(23, 20);
		letter-spacing: 0.02em;
		color: #FFFFFF;
	}

	&__form-subtitle {
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(23, 16);
		text-align: center;
		letter-spacing: 0.02em;
		margin-bottom: 20px;
		color: #FFFFFF;

	}

	&__box-img {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.main-block {
	margin-top: 30px;

	@media (max-width:$tablet) {
		margin-left: 30px;
	}

	&__item {
		position: relative;
		display: inline-flex;
		align-items: center;
		background: #FFFFFF;
		border-radius: 7px;
		padding: 25px 40px 25px 0px;
		@include adaptiveValue("margin-right", 80, 15);
		margin-bottom: 35px;

		&:last-child {
			margin-right: 0;
		}

		@media (max-width:$mobile) {
			margin-right: 0;
		}
	}

	&__item-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.02em;
		color: $brightblueColor;
		max-width: 200px;
		padding-left: 50px;

		@media (max-width:$mobile) {
			max-width: 300px;
		}
	}

	&__item-img {
		content: '';
		position: absolute;
		width: 60px;
		height: 60px;
		top: 15px;
		left: -30px;

		img {
			width: 100%;
			height: 100%;
		}
	}


}

.form {

	&__group {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}

		&-inp {
			border: 1px solid #FFFFFF;
			border-radius: 3px !important;
			padding: 12px;
			background-color: transparent;
			font-weight: 400;
			font-size: 14px;
			letter-spacing: 0.02em;
			color: #FFFFFF;
		}

		::placeholder {
			color: white;
		}
	}


}

// service ====================================================================================================
.service {
	@include adaptiveValue("padding-top", 80, 40);

	&__title {}

	&__subtitle {}

	&__body {
		display: grid;
		row-gap: 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media (max-width:$tablet) {
			justify-content: center;
		}
	}

	&__card {
		background: #FFFFFF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		width: 48.5%;

		@media (max-width:$tablet) {
			width: 100%;
		}

		&-box {
			padding: 20px;
		}
	}

	&__card-img {

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__card-title {
		font-weight: 700;
		@include adaptiveValue("font-size", 22, 18);
		line-height: math.div(26, 22);
		color: $mainColor;
		margin-bottom: 10px;
	}

	&__card-text {
		font-weight: 400;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(19, 16);
		letter-spacing: 0.01em;
		color: #333333;
		margin-bottom: 15px;
	}

	&__card-btn {
		display: inline-block;
		background: #045D9D;
		border-radius: 3px;
		padding: 15px 40px;
		font-weight: 500;
		text-align: center;
		letter-spacing: 0.02em;
		color: #FFFFFF;
	}
}