//====================================================================================================
.main {
	position: relative;
	z-index: 1;

	&__body {
		padding-top: 125px;
		z-index: 2;

		h1 {
			max-width: 783px;
			position: relative;
			font-weight: 700;
			@include adaptiveValue("font-size", 46, 30);
			line-height: 122.19%;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: $blueColor;
			z-index: 2;

			span {
				font-weight: 500;
				@include adaptiveValue("font-size", 30, 24);
				letter-spacing: 0.02em;
				display: block;
				@include adaptiveValue("margin-bottom", 25, 15);
			}
		}
	}

	&__box {
		z-index: 2;
		display: flex;
		flex-wrap: wrap;
	}

	&__box-item {
		position: relative;
		z-index: 2;
		font-weight: 500;
		@include adaptiveValue("font-size", 23, 16);
		line-height: math.div(23, 20);
		letter-spacing: 0.02em;
		color: $brightblueColor;
		@include adaptiveValue("margin-right", 80, 50);

		@media (max-width:$mobile) {
			margin-right: 0;
		}

		span {
			display: block;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__button {
		@media (max-width:$mobile) {
			width: 100%;
			justify-content: center;
		}
	}

	&__box-form {
		background: rgba(70, 152, 211, 0.85);
		border-radius: 3px;
		position: relative;
		z-index: 2;
		padding: 40px 60px;
		clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

		@media (max-width:$mobile) {
			margin-top: 40px;
			width: 100%;
		}
	}

	&__form {

		&-btn {
			display: block;
			width: 100%;
			font-weight: 500;
			text-align: center;
			letter-spacing: 0.02em;
			text-transform: none;
		}
	}

	&__form-title {
		padding-top: 40px;
		padding-bottom: 5px;
		margin: auto;
		max-width: 168px;
		text-align: center;
		font-weight: 700;
		@include adaptiveValue("font-size", 20, 18);
		line-height: math.div(23, 20);
		letter-spacing: 0.02em;
		color: #FFFFFF;
	}

	&__form-subtitle {
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(23, 16);
		text-align: center;
		letter-spacing: 0.02em;
		margin-bottom: 20px;
		color: #FFFFFF;

	}

	&__box-img {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.main-block {
	margin-top: 30px;

	@media (max-width:$tablet) {
		margin-left: 30px;
	}

	&__item {
		position: relative;
		display: inline-flex;
		align-items: center;
		background: #FFFFFF;
		border-radius: 7px;
		padding: 25px 40px 25px 0px;
		@include adaptiveValue("margin-right", 80, 15);
		margin-bottom: 35px;

		&:last-child {
			margin-right: 0;
		}

		@media (max-width:$mobile) {
			margin-right: 0;
		}
	}

	&__item-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.02em;
		color: $brightblueColor;
		max-width: 200px;
		padding-left: 50px;

		@media (max-width:$mobile) {
			max-width: 300px;
		}
	}

	&__item-img {
		content: '';
		position: absolute;
		width: 60px;
		height: 60px;
		top: 15px;
		left: -30px;

		img {
			width: 100%;
			height: 100%;
		}
	}


}

.form {

	&__group {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}

		&-inp {
			border: 1px solid #FFFFFF;
			border-radius: 3px !important;
			padding: 12px;
			background-color: transparent;
			font-weight: 400;
			font-size: 14px;
			letter-spacing: 0.02em;
			color: #FFFFFF;
		}

		::placeholder {
			color: white;
		}
	}


}

// service ====================================================================================================
.service {
	&__body {
		display: grid;
		row-gap: 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media (max-width:$tablet) {
			justify-content: center;
		}
	}

	&__card {
		background: #FFFFFF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		width: 48.5%;

		@media (max-width:$tablet) {
			width: 100%;
		}

		&-box {
			padding: 20px;
		}
	}

	&__card-img {

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__card-title {
		font-weight: 700;
		@include adaptiveValue("font-size", 22, 18);
		line-height: math.div(26, 22);
		color: $mainColor;
		margin-bottom: 10px;
	}

	&__card-text {
		font-weight: 400;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(19, 16);
		letter-spacing: 0.01em;
		color: #333333;
		margin-bottom: 15px;
	}

	&__card-btn {
		display: inline-block;
		background: #045D9D;
		border-radius: 3px;
		padding: 15px 40px;
		font-weight: 500;
		text-align: center;
		letter-spacing: 0.02em;
		color: #FFFFFF;
	}
}

// exitform ========================================================================================================================================================
.exitform {
	@include adaptiveValue("margin-top", 100, 40);
	background: #EAEAEA;
	position: relative;

	&__bg {
		content: '';
		position: absolute;
		top: 50%;
		left: 13%;
		transform: translateY(-50%);

		@media (max-width:$tablet) {
			display: none;
		}
	}

	&__container {
		position: relative;

		&-bg {
			content: '';
			position: absolute;
			width: 95%;
			height: 72%;
			top: 55%;
			transform: translate(-50%, -50%);
			left: 50%;
			border: 1px solid #033771;
			z-index: 1;

			@media (max-width:$tablet) {
				display: none;
			}
		}
	}

	&__body {
		position: relative;
		@include adaptiveValue("padding-top", 60, 40);
		@include adaptiveValue("padding-bottom", 80, 40);
		background: #FFFFFF;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 75%;
		margin: auto;

		@media (max-width:$tablet) {
			width: 100%;
		}
	}

	&__title {
		background-color: #fff;
		padding: 0 15px;
		z-index: 2;
		font-weight: 700;
		@include adaptiveValue("font-size", 40, 24);
		line-height: math.div(47, 40);
		text-align: center;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: $blueColor;
		max-width: 550px;
		@include adaptiveValue("margin-bottom", 30, 20);

		span {
			color: $brightblueColor;
		}
	}

	&__form {
		width: 60%;

		@media (max-width:$tablet) {
			width: 80%;
		}
	}

	&__group {
		margin-bottom: 25px;
		display: block;
	}

	&__label {
		display: block;
		font-weight: 500;
		@include adaptiveValue("font-size", 20, 18);
		line-height: math.div(23, 20);
		letter-spacing: 0.02em;
		color: #333333;
		margin: 0 0 10px 10px;
	}

	&-input {
		border: 1px solid #333333 !important;
		border-radius: 3px !important;
		height: 50px;
		outline: none;
	}

	::placeholder {
		font-weight: 400;
		@include adaptiveValue("font-size", 16, 14);
		letter-spacing: 0.02em;
		color: #333333;
	}

	&__action {}

	&__text {
		font-weight: 500;
		line-height: math.div(19, 16);
		text-align: center;
		letter-spacing: 0.02em;
		color: $mainColor;
		margin-bottom: 15px;
	}

	&__social {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	&__link {
		font-size: 26px;
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: 0.8;
		}

		&:nth-child(1) {
			color: #00C041;
		}

		&:nth-child(2) {
			color: #039BE5;
		}

		&:nth-child(3) {
			color: #C75D3E;
		}
	}

	&_btn {
		display: block;
		margin: auto;
		padding: 12px 80px;
		font-weight: 500;
		text-align: center;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		text-transform: none;
		@include adaptiveValue("margin-bottom", 30, 20);
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: 0.8;
		}
	}
}

// about ========================================================================================================================================================
.about {
	display: flex;
	flex-wrap: wrap;

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		flex-wrap: wrap;
		@include adaptiveValue("margin-bottom", 100, 40);
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__box-left {
		width: 40%;
		margin-right: 50px;

		@media (max-width:$tablet) {
			width: 100%;
			display: block;
			text-align: center;
			margin-bottom: 30px;
			margin-right: 0;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	&__box-right {
		width: 50%;

		@media (max-width:$tablet) {
			width: 100%;
		}

		&__title {
			font-weight: 600;
			@include adaptiveValue("font-size", 30, 26);
			line-height: math.div(35, 30);
			text-align: center;
			letter-spacing: 0.02em;
			text-transform: uppercase;
			color: #000000;
			margin-bottom: 30px;

			span {
				color: $brightblueColor;
			}
		}

		&__text {
			font-weight: 400;
			line-height: math.div(19, 16);
			letter-spacing: 0.02em;
			color: #000000;

			p {
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.body {

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 30%;
		background: rgba(234, 234, 234, 0.5);
		padding: 30px;
		height: rem(276);

		@media (max-width:$tablet) {
			width: 100%;
		}

		&:nth-child(2) {
			background: rgba(70, 152, 211, 0.3);
		}

		&::before {
			content: '';
			position: absolute;
			width: 70px;
			height: 4px;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			border-bottom: 4px solid #045D9D;
		}
	}

	&__item-img {
		background: #FFFFFF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50%;
		width: rem(84);
		height: rem(84);
		position: relative;
		margin-bottom: 22px;

		img {
			position: absolute;
			width: 50%;
			height: 50%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

	}

	&__item-title {
		font-weight: 600;
		@include adaptiveValue("font-size", 20, 18);
		color: $mainColor;
		margin-bottom: 10px;
		text-align: center;
	}

	&__item-text {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: 0.03em;
		color: $mainColor;
		text-align: center;
	}
}

// step ========================================================================================================================================================
.step {
	background: #EAEAEA;
	@include adaptiveValue("margin-top", 80, 40);
	@include adaptiveValue("padding-top", 60, 40);
	@include adaptiveValue("padding-bottom", 60, 40);

	&__subtitle {
		max-width: 600px;
	}

	&__body {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		// position: relative;
		display: flex;
		flex: 0 1 15%;
		align-items: center;
		flex-direction: column;
		text-align: center;
		margin-bottom: 20px;

		@media (max-width:$tablet) {
			flex: 1 1 50%;
		}

		&-number {
			content: '01';
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 700;
			font-size: 12px;
			text-align: center;
			color: #FFFFFF;
			background: rgba(255, 82, 0, 0.866667);
			border-radius: 50%;
			position: absolute;
			width: 24px;
			height: 24px;
			top: 6px;
			left: 0;
		}

	}

	&__item-img {
		position: relative;
		width: rem(106);
		height: rem(106);
		background-color: #fff;
		border-radius: 50%;
		position: relative;
		margin-bottom: 10px;

		img {
			content: '';
			position: absolute;
			width: 60px;
			height: 60px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__item-text {
		font-weight: 400;
		font-size: 14px;
		line-height: 130%;
		text-align: center;
		letter-spacing: 0.02em;
		color: $mainColor;
	}

	&__btn {
		padding: 12px 30px;
		background: #045D9D;
		border-radius: 3px;
		font-weight: 500;
		text-align: center;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		@include adaptiveValue("margin-top", 50, 30);
		width: rem(230);
		margin: auto;
		display: block;
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: 0.8;
		}
	}
}

// work ========================================================================================================================================================
.work {
	@include adaptiveValue("margin-top", 80, 40);

	&__body {}
}

.gallery {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	@media (max-width:$tablet) {
		justify-content: center;
	}

	&__image {
		width: 22%;
		margin: 10px;

		@media (max-width:$tablet) {
			width: 45%;
		}

		@media (max-width:$mobile) {
			width: 40%;
		}

		img {
			width: 100%;
		}
	}
}